body {
  margin: 0;
  background: #A496D1;
  background: linear-gradient(0.25turn, #CE96C7, #A496D1);
  font-family: "Rambla", sans-serif;
}

:root {
  --story-box-width: min(90vw, 30rem);
  --min-story-gap: 30rem;
  --story-width: calc(var(--story-box-width) + (var(--min-story-gap) * 2));
}

html, body, .row {
  width: calc((var(--story-box-width) * 16) + (var(--min-story-gap) * 17));
}

header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  max-width: 60em;
  box-sizing: border-box;
}
header img {
  width: calc(100% - 2em);
  aspect-ratio: 2;
  padding: 1em 1em 0;
}
header div {
  margin: 0 1em;
  padding: 1em;
  background-color: #fff;
  border-radius: 0 0 1em 1em;
}
header p {
  margin: 0;
}
header .start {
  text-align: center;
}
header .start a {
  padding: 1rem;
  display: inline-block;
  background: #333;
  border-radius: 0.5rem;
  font-size: 2em;
  color: #fff;
}

main > .row {
  display: flex;
  gap: var(--min-story-gap);
  justify-content: center;
  margin: 0;
  padding: 0;
}
main {
  --row-3-gap: var(--story-width);
  --row-2-gap: calc(var(--story-box-width) + (var(--row-3-gap) * 2));
  --row-1-gap: calc(var(--story-box-width) + (var(--row-2-gap) * 2));
}
#row-0 {
  margin-top: 20rem;
  margin-bottom: -20rem;
}
#row-1 {
  gap: var(--row-1-gap);
  margin-bottom: -10rem;
}
#row-2 {
  gap: var(--row-2-gap);
  margin-bottom: 10rem;
}
#row-3 {
  gap: var(--row-3-gap);
  margin-bottom: 20rem;
}
#row-4 {
  margin-bottom: 50rem;
}

.story {
  position: relative;
  width: var(--story-box-width);
  flex-shrink: 0;
  box-sizing: border-box;
  padding: 1em;
  border: 1px solid #333;
  border-radius: 1em;
  background: #fff;
}
.story.hidden {
  visibility: hidden;
}
.story.focused {
  border: 3px solid #333;
  box-shadow: 0 0 3em 1em #fff;
}
.story h2 {
  margin: 0;
}
.story img {
  display: block;
  margin: 1em auto;
  width: 100%;
  max-width: 200px;
  aspect-ratio: 1;
}
.story .player {
  width: 100%;
  height: 200px;
}
.story .player iframe {
  width: 100%;
  height: 100%;
}

/* The link back to story-1 from "end" points */
.story .children li.restart {
  list-style: none;
}
.story .children li.restart::before {
  content: "Start again? ";
}

/* The nav link back to the parent story */
.story .children li.back {
  position: absolute;
  top: 0.25rem;
  right: 0.5rem;
  list-style: none;
  font-size: 0.8rem;
}
.story .children li.back a {
  color: #999;
}
.story .children li.back a::before {
  content: "back ";
}
.story .children li.back span {
  display: none;
}
.story .children li.back:hover span {
  display: inline;
}
.story .children li.back:hover a::before {
  content: "back: ";
}
